body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: #e5e5e5;
  text-align: center;
  padding: 20px;
}

.workout {
  padding: 15px;
}

.exercise {
  background: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  border: none;
}

footer {
  text-align: center;
  padding: 15px;
  font-weight: bold;
}
